.Single-Review {
  display: flex;
  flex-direction: column;
}

.Single-Review-Header {
  height: 10.5rem;
  display: flex;
  flex-direction: row;
}

.Single-Review-Title {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.25rem;
}

.Single-Review-Category {
  margin-top: 0.4rem;
  margin-bottom: 0;
  flex: 1;
}

.Single-Review-Author {
  margin: 0;
  font-size: 0.9rem;
}

.Single-Review-Header-Info {
  display: flex;
  flex-direction: column;
  height: 10rem;
  text-align: left;
  margin: 0.5rem;
  margin-bottom: 0;
  width: 50%;
}

.Single-Review-Image {
  width: 40%;
  flex: 1;
  object-fit: cover;
  border-radius: 2%;
}

.Single-Review-Body {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: left;
}

.Single-Review-Kudos {
  margin: 0.5rem;
  text-align: left;
}

.Single-Review-Comments {
  margin: 0.5rem;
  text-align: left;
}

.View-Comments {
  background-color: rgb(253, 253, 253);
  border: 1px solid rgb(238, 238, 238);
  margin-bottom: 1rem;
  height: 1.5rem;
  font-size: 1rem;
}