.App {
  text-align: center;
}

.Card-Link {
  text-decoration: none;
  color: inherit;
}

.Header {
  position: fixed;
  width: 100%;
  overflow: hidden;
  top: 0px;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(198, 198, 198) ;
}

.Page-Content {
  overflow: scroll;
  margin-top: 95px;
  margin-bottom: 20px;
  background-color: rgb(245, 242, 239);
}

.Card-Link {
  text-decoration: none;
  color: inherit;
}

.Loading-Screen {
  background-color: white;
  position: absolute;
  top: 11%
}

.Nav-Bar {
  position: fixed;
  overflow: hidden;
  width: 100%;
  bottom: 0px;
  background-color: rgb(255, 255, 255);
  border-top: 1px solid rgb(198, 198, 198) ;
}








