.App {
  text-align: center;
}

.Header {
  position: fixed;
  width: 100%;
  overflow: hidden;
  top: 0px;
  background-color: rgb(255, 255, 255);
}

.Page-Content {
  background-color: rgb(255, 255, 255);
  overflow: scroll;
  margin-top: 110px;
  margin-bottom: 20px;
}

.Nav-Bar {
  position: fixed;
  overflow: hidden;
  width: 100%;
  bottom: 0px;
  background-color: rgb(255, 255, 255);
}








