.App {
  text-align: center;
}

.Header {
  position: fixed;
  width: 100%;
  overflow: hidden;
  top: 0px;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(198, 198, 198) ;

}

.Page-Content {
  background-color: rgb(255, 255, 255);
  overflow: scroll;
  margin-top: 95px;
  margin-bottom: 20px;
}

.Nav-Bar {
  position: fixed;
  overflow: hidden;
  width: 100%;
  bottom: 0px;
  background-color: rgb(255, 255, 255);
  border-top: 1px solid rgb(198, 198, 198) ;
}








